* {
    margin: 0 auto;
}

.header,
.navigation_header {
    align-items: center;
    display: flex;
    flex-direction: row;

}

.header {
    box-shadow: 5px 5px 50px gray;
    height: 70px;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    color: #6ecf78;
    font-family: IBM Plex Sans;
    text-decoration: none;
    transition: 1s;

}

.active {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
}

img#logo {
    height: 80px;
    width: 80px;

}

.navigation_header a:hover {
    text-align: center;
    padding: 8px;
    color: darkgreen;
    border-bottom: 2px solid rgb(206, 131, 131);
}

.btn_icon_header {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

hr {
    height: 10px
}

nav {
    background-color: #7af286;
    flex-direction: column;
}

div#abouttext{
    display: flex;
    flex-direction: row;
    padding: 5vw;
    font-size: 1.8vw;
    font-family: IBM Plex Sans;
    
}

div#about1{
    width: 60vw;
    padding-right: 10vw;
}

div#about2{
    width: 60vw;
}

img#eucorrendo{
    width: 100vw;
    height: 60vw;
}

.logo{
    height: 2vw;;
}

div#logos {
    display: flex;
    place-items: right;
    width: 30vw;
    height: 20vw;
    flex-direction: column;

}

div#instagram, div#cellphone, div#email{
    display: flex;
    flex-direction: row;
}

div#instatext, div#celltext, div#etext {
    padding-top: 0.7vw;
    padding-right: 5vw;
}

footer{
    background-color: #165715;
    text-align: center;
    height: 3vw;

}

footer p{
    color: white;
    padding-top: 1vw;
}

@media screen and (max-width: 600px) {
    .btn_icon_header {
        display: block;
    }

    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: rgb(34, 155, 74);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        
    }

    hr {
        display: none;
    }

    div#abouttext{
        display: flex;
        flex-direction: column;
        
    }

    div#about1{
        padding-right: 0vw;
    }

    div#logos {
        height: 30vw;
    }

    footer{
        height: 10vw;
    }

    nav p {
        font-size: 5vw;
    }

    nav h1 {
        font-size: 7vw
    }
@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw
    }

}

}