* {
    margin: 0 auto;
}

[data-animar="fade-up"] {
    transform: translate3d(0px, -50px, 0px);
    opacity: 0;
}

[data-animar] {
    transition: transform 1s ease, opacity 1s ease;
}

.animado {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

#white {
    padding-bottom: 2rem;
}

#green {
    background-color: #9ef3a7;
}

#wavepath {
    fill: #9ef3a7;
}

#title {
    background-image: url('../imgs/howami.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 40rem;
}

#title h1 {
    padding-top: 2rem;
    font-size: 15rem;
    color: rgb(0, 0, 0);
}

main h1 {
    font-size: 3rem;
    color: black;
    padding-top: 5rem;
    padding-left: 3rem;
}

main p {
    padding-top: 1rem ;
    padding-right: 3rem;
    padding-left: 3rem ;
    font-size: 1.5rem;
    text-align: justify;
}
  
 #timeform {
    display: flex;
    flex-direction: column;
 } 

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9ef3a7;
    border-start-start-radius: 50px;
    border-start-end-radius: 50px;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
  }

  .km {
    display: flex;
    flex-direction: row;
  }
  
  button:hover {
    scale: 1.1;
    transition: 1s ease;
  }
  
  #result, #result2, #result3 {
    padding-top: 6vw;
    font-size: 2vw;
    text-align: justify;
    width: 60%;
    opacity: 0; 
    animation: appear 1s forwards; 
  }

  #result.fadeIn {
    animation: appear 1s forwards; 
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 600px) {
    #title h1 {
        padding-top: 9rem;
        padding-left: 0.6rem;
        font-size: 6rem;

    }
    
    #content h1 {
        font-size: 2rem;
        background-position: center;    
    }

    .km {
        display: flex;
        flex-direction: column;
      }

      #result, #result2, #result3 {
        font-size: 6vw;
        width: 80%;
      }
}


    