* {
    margin: 0 auto;
}

header, .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    box-shadow: 5px 5px 50px gray;
    height: 15%;
    justify-content: space-between;
    padding: 0 10%;
    background-color: white;
    width: 100%;
}

.navigation_header, ul, #item {
    gap: 3em;
    z-index: 2;
}

ul, .menus, .navigation_header a {
    color: #6ecf78;
    font-family: IBM Plex Sans;
    text-decoration: none;
    transition: 1s;

}

.active {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
}

img#logo {
    height: 80px;
    width: 80px;
}

.navigation_header a:hover {
    text-align: center;
    padding: 3px;
    color: darkgreen;
    border-bottom: 2px solid rgb(206, 131, 131);
}

.btn_icon_header {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.rounded {
    height: 10px;
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw
    }
}

@media screen and (max-width: 600px) {
    .btn_icon_header {

        display: block;
    }

    .navigation_header {
        position: fixed;
        flex-direction: column;
        top: 0;
        background-color: rgb(12, 54, 22);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    hr {
        display: none;
    }

    #ul {
        left: 36vw;
        padding-left: 10vw;
        width: 30vw;
        background-color: rgb(12, 54, 22);
    }

    #ul2 {
        left: 10vw;
        position: absolute;
        width: 40vw;
        background-color: rgb(12, 54, 22);
        top: 10vh;
    }

    #ul3 {
        left: 1vw;
        position: absolute;
        width: 40vw;
        background-color: rgb(12, 54, 22);
        top: 10vh;
    }
}

/* submenu*/
.ul {
    display: none;
    position: absolute;
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    top: 70px;
    width: 10vw;
    background-color: rgb(255, 255, 255);
}

#ul {
    left: 38vw;
}

#ul2 {
    left: 46vw;
}

#ul3 {
    left: 56vw;
}

li {
    text-decoration: none;
}

.menus, li {
    cursor: pointer;
}