* {
    margin: 0 auto;
}

* {
    margin: 0 auto;
}

[data-animar="fade-up"] {
    transform: translate3d(0px, -50px, 0px);
    opacity: 0;
}

[data-animar] {
    transition: transform 1s ease, opacity 1s ease;
}

.animado {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

#white {
    padding-bottom: 2rem;
}

#green {
    background-color: #9ef3a7;
}

#wavepath {
    fill: #9ef3a7;
}

#title {
    background-image: url('../imgs/shoes.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 40rem;
}

#title h1 {
    padding-top: 8rem;
    font-size: 20rem;
    color: rgb(255, 255, 255);
    
}

main h1 {
    font-size: 3rem;
    color: black;
    padding-top: 5rem;
    padding-left: 3rem;
}

main p {
    padding-top: 1rem ;
    padding-right: 3rem;
    padding-left: 3rem ;
    font-size: 1.5rem;
    text-align: justify;
}

div#miniaturas img{
    width: 200px;
    height: 160px;
    margin: 10px;
}

div#ampliado img{
    width: 800px;
    height: 500px;

}

div#miniaturas{
    flex: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

div#miniaturas img:hover{
    scale: 1.1;
    transition: 1s ease;
}

div#ampliado{ 
    flex: 80%;
    display: flex;
    align-items: center;

}

div#grande {
    width: 90%;
    display: flex;
    flex-direction: row;
    display: flex;
    
}


@media screen and (max-width: 600px) {
    #title h1 {
        padding-top: 9rem;
        padding-left: 0.6rem;
        font-size: 8rem;

    }
    
    #title {
        text-align: center;
        height: 30rem;
        background-position: center;    
    }
}