* {
    margin: 0 auto;
}


header,
.navigation_header {
    align-items: center;
    display: flex;
    flex-direction: row;

}

header {
    box-shadow: 5px 5px 50px gray;
    height: 70px;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    color: #6ecf78;
    font-family: IBM Plex Sans;
    text-decoration: none;
    transition: 1s;
}

.active {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
}

img#logo {
    height: 80px;
    width: 80px;

}

.navigation_header a:hover {
    text-align: center;
    padding: 8px;
    color: darkgreen;
    border-bottom: 2px solid rgb(206, 131, 131);
}

.btn_icon_header {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

main {
    background-color: #6ecf78;
    font-size: 1.5vw;
    padding-top: 2vw;
    font-family:  'Source Sans Pro', sans-serif;
}

main p{
    font-size: 1.5vw;
    padding-top: 2vw;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;        
    padding-bottom: 2vw;
    animation: anima ;
    animation-duration: 2s;
    padding-right: 3rem;
    padding-left: 3rem ;
}

[data-animar="fade-down"] {
    transform: translate3d(0px, 50px, 0px);
    opacity: 0;
}

[data-animar="fade-up"] {
    transform: translate3d(0px, -50px, 0px);
    opacity: 0;
}

[data-animar] {
    transition: transform 1s ease, opacity 1s ease;
}

.animado {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.imgwhatis{
    display: grid;
    place-items: center;
}



img#criançacorrendo{
    height: 20vw;
}

h1#title1{
    font-size: 5vw;
}

.subtitles1{
    font-size: 3vw;
}

img#idososcorrendo{
    height: 20vw;
    width: 35vw;
}

img#corridaderua{
    height: 30vw;
    width: 40vw;
}

img#maratona1{
    height: 30vw;
    width: 40vw;
}

@media screen and (max-width: 600px) {
   main {
    padding-left: 10vw;
    padding-right: 10vw;

   }

   img#idososcorrendo{
    height: 50vw;
    width: 75vw;
   }

   img#criançacorrendo{
    height: 50vw;
    width: 55vw;
   }

   img#maratona1{
    height: 50vw;
    width: 75vw;
   }

   img#corridaderua{
    height: 50vw;
    width: 75vw;
   }

   .subtitles1 {
    font-size: 7vw;
   }

    main p {
        font-size: 5vw;
    }

    footer {
        height: 6vw;
    }
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw
    }
}